@use "../abstracts" as *;

.section {
  padding-block: $padding-section;
}

.mx-auto {
  margin-inline: auto;
}

@each $size-key, $size-value in $sizes {
  .margin {
    &-#{$size-key} {
      margin: $size-value;
    }
    &-block-#{$size-key} {
      margin-block: $size-value;
    }
    &-block-start-#{$size-key} {
      margin-block-start: $size-value;
    }
    &-block-end-#{$size-key} {
      margin-block-end: $size-value;
    }

    &-inline-#{$size-key} {
      margin-inline: $size-value;
    }
    &-inline-start-#{$size-key} {
      margin-inline-start: $size-value;
    }
    &-inline-end-#{$size-key} {
      margin-inline-end: $size-value;
    }
  }

  .padding {
    &-#{$size-key} {
      padding: $size-value;
    }
    &-block-#{$size-key} {
      padding-block: $size-value;
    }
    &-block-start-#{$size-key} {
      padding-block-start: $size-value;
    }
    &-block-end-#{$size-key} {
      padding-block-end: $size-value;
    }

    &-inline-#{$size-key} {
      padding-inline: $size-value;
    }
    &-inline-start-#{$size-key} {
      padding-inline-start: $size-value;
    }
    &-inline-end-#{$size-key} {
      padding-inline-end: $size-value;
    }
  }
}
